head
{
	font-family: verdana;
}
body
{
	background-color: azure;
	font-family: verdana;

}
header
{
	font-family: verdana;
}
nav
{
	font-size: 16pt;
}
h1
{
	color: midnightblue;
	font-size: 36pt;
}
h2
{
	color: midnightblue;
	font-size: 24pt;
}
h3
{
	color: midnightblue;
	font-size: 16pt;
}
p
{
	color: midnightblue;
	font-size: 14pt;
}
a
{
	text-decoration: none;
	color: midnightblue;
}
a:hover
{
	text-decoration: underline;

}
footer
{
	color: midnightblue;
	font-family: verdana;
	font-size: 8pt;
}
