@import url('https://fonts.googleapis.com/css?family=Raleway');
body
{
	/*margin: 60px auto; width: 75%;*/
	background-color: #f2f2f2;
	font-family: "Raleway";

}
a
{
	text-decoration: none;
	color: #666;
	transition: 0.40s ease-in-out;
}
a:hover
{
	text-decoration: none;
	color: #1a1a1a;

}
a.name
{
	position: absolute;
	top: 25%;
	left: 20%;
	color: #1a1a1a;
	transition: 0.40s ease-in-out;
	font-size: 30pt;
}
a.name:hover
{
	color: #666;
	text-decoration: none;
}
a.button
{
	position: absolute;
	top: 23%;
	right: 20%;
	border: .1em solid #808080;
	display: block;
	margin: 1em 0;
	padding: 1em;
	text-decoration: none;
	color: #808080;
}
a.button:hover
{
	border: .1em solid #333;
	color: #333;
}
p
{
	color: #1a1a1a;
	position: absolute;

}
p.intro
{
	font-size: 14pt;
	top: 35%;
	left: 15%;
	right: 15%;
}
p.work
{
	font-size: 18pt;
	top: 48%;
	left: 15%;
}
p.contact
{
	font-size: 18pt;
	top: 68%;
	left: 15%;
}
ul.work
{
	position: absolute;
	top: 53%;
	left: 15%;
	list-style: none;
	font-size: 14pt;
	padding: 0;
}
ul.contact
{
	position: absolute;
	top: 73%;
	left: 15%;
	list-style: none;
	font-size: 14pt;
	padding: 0;
}
li
{
	color: #1a1a1a;

}
h1
{
	color: midnightblue;
	font-size: 36pt;
}
h2
{
	color: midnightblue;
	font-size: 24pt;
}
h3
{
	color: midnightblue;
	font-size: 16pt;
}
.content
{
	float: right;
	margin: 20px;
	padding: 10px;
}
	

footer
{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	color: midnightblue;
	font-family: "Lato", sans-serif;
	font-size: 11pt;
}