body {
    margin: 40px auto;
    max-width: 1300px;
    line-height: 1.6;
    font-size: 20px;
    color: #555555;
    background-color: #fafafa;
    padding: 0 10px;
    font-family: Spectral, serif;
}

.dashboard {
    text-align: right;
    font-size: 16px;
}

.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.button {
    font-family: Spectral, serif;
    color: #fafafa;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    background-color: #31b48b;
}