<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="style.css"> 
		<link rel="icon" href="OJW.png">
	</head>
	<body>
		<header>
			<h1 title="Olivia Weng">
				<a href="/">Olivia Weng</a>
			</h1>
		</header>
		<nav>
		<ul>
			<li><a href="about.html">About Me</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="Weng, Olivia Resume 01-18-2017.pdf">Resume</a></li>
		</ul>
		</nav>
   		{{ content }}
		<footer>
			<br>Last updated: 1.18.2017
		</footer>
	</body>
</html>
