<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css"> 
		<link rel="icon" href="OJW.png">
	</head>
	<body>
		<header>
			<img src="OJW.png" style="width:150px;height:150px;">
			<h1 title="Olivia Weng">
				<a href="index.html">Olivia Weng</a>
			</h1>
		</header>
		<nav>
		<ul style="list-style-type:none">
			<li><a href="about.html">About Me</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
		</nav>
   		{{ content }}
		<footer>
			<br>Last updated: 12.11.2016
		</footer>
	</body>
</html>
